{% extends "layout.html" %}

{% block title %}
   Entries
{% endblock %}

{% block main %}
    <div class="section" style="margin-top: 10%;" >
        <h2>Your Entries</h2>
        <table class="table table-dark">
            <thead class="center">
                <tr>
                    <th>Date</th>
                    <th>Entry</th>
                    <th hidden>Id</th>
                </tr>
            </thead>
                    <tbody>
            <!-- TODO: Loop through the journal entries to display them in this table -->
                        {% for entry in entries %}
                                <tr>
                                <td>{{entry.date | datefixer }}</td>
                                <td class="entries">{{entry.entry}}</td>
                                <td> <form action="/entry" method="get" class = "mt-5">
                                    <div class="mb-3">
                                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="entryid" type="hidden" value={{entry.id}}>
                                    </div>
                                    <button class="btn btn-primary" type="submit">Edit</button>
                                </form>
                                </td>
                            </tr>
                        </div>
                        {% endfor %}
                    </tbody>
            </table>
    </div>
    {% endblock %}
